nextgenx/BTESBServices/BTFin/SharedServices/Common/Payment/PaymentService/V1/PaymentReplyV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by . (BT Financial Group) -->
<xs:schema xmlns:payrsp="ns://btfin.com/SharedServices/Common/Payment/PaymentService/PaymentResponse/V1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:err="ns://btfin.com/SharedServices/Integration/Common/Response/ErrorResponseType/V3" xmlns:pay="ns://btfin.com/SharedServices/Common/Payment/V2_0" xmlns:pdt="ns://btfin.com/SharedServices/Common/ProductDataTypes/V1_1" xmlns:dt="ns://btfin.com/SharedServices/Common/BaseDataTypes/V1_1" xmlns:fx="ns://btfin.com/SharedServices/Common/ForeignExchange/V1_0" targetNamespace="ns://btfin.com/SharedServices/Common/Payment/PaymentService/PaymentResponse/V1_0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1_0">
	<xs:import namespace="ns://btfin.com/SharedServices/Common/ProductDataTypes/V1_1" schemaLocation="../../../ProductDataTypes/V1/ProductDataTypesV1_1.xsd"/>
	<xs:import namespace="ns://btfin.com/SharedServices/Common/BaseDataTypes/V1_1" schemaLocation="../../../BaseDataTypes/V1/BaseDataTypesV1_1.xsd"/>
	<xs:import namespace="ns://btfin.com/SharedServices/Integration/Common/Response/ErrorResponseType/V3" schemaLocation="../../../../Integration/Common/Response/V3/ErrorResponseTypeV3.xsd"/>
	<xs:import namespace="ns://btfin.com/SharedServices/Common/ForeignExchange/V1_0" schemaLocation="../../../ForeignExchange/V1/ForeignExchangeV1_0.xsd"/>
	<xs:import namespace="ns://btfin.com/SharedServices/Common/Payment/V2_0" schemaLocation="../../V2/PaymentV2_0.xsd"/>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-->>>>>>>>>CreatePaymentInstruction<<<<<<<<<<-->
	<xs:element name="CreatePaymentInstructionResponseMsg" type="payrsp:CreatePaymentInstructionResponseMsgType"/>
	<xs:complexType name="CreatePaymentInstructionResponseMsgType">
		<xs:sequence>
			<xs:element name="Status" type="payrsp:StatusTypeCode">
				<xs:annotation>
					<xs:documentation>Indicates the overall status of the request processing with:
Success: The entire service processing was successful.
Warning: Parts of the service processing were unsuccessful.
Error: No parts of the service processing were successful.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseDetails" type="payrsp:CreatePaymentInstructionResponseDetailsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreatePaymentInstructionResponseDetailsType" type="payrsp:CreatePaymentInstructionResponseDetailsType"/>
	<xs:complexType name="CreatePaymentInstructionResponseDetailsType">
		<xs:choice>
			<xs:element name="SuccessResponse" type="payrsp:CreatePaymentInstructionSuccessResponseType"/>
			
		</xs:choice>
	</xs:complexType>
	<xs:element name="CreatePaymentInstructionSuccessResponse" type="payrsp:CreatePaymentInstructionSuccessResponseType"/>
	<xs:complexType name="CreatePaymentInstructionSuccessResponseType">
		<xs:sequence>
			<xs:element name="PaymentInstruction" type="payrsp:PRESPaymentInstructionType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-->>>>>>>>>ValidatePaymentInstruction<<<<<<<<<<-->
	<xs:element name="ValidatePaymentInstructionResponseMsg" type="payrsp:ValidatePaymentInstructionResponseMsgType"/>
	<xs:complexType name="ValidatePaymentInstructionResponseMsgType">
		<xs:sequence>
			<xs:element name="Status" type="payrsp:StatusTypeCode">
				<xs:annotation>
					<xs:documentation>Indicates the overall status of the request processing with:
Success: The entire service processing was successful.
Warning: Parts of the service processing were unsuccessful.
Error: No parts of the service processing were successful.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseDetails" type="payrsp:ValidatePaymentInstructionResponseDetailsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ValidatePaymentInstructionResponseDetailsType" type="payrsp:ValidatePaymentInstructionResponseDetailsType"/>
	<xs:complexType name="ValidatePaymentInstructionResponseDetailsType">
		<xs:choice>
			<xs:element name="SuccessResponse" type="payrsp:ValidatePaymentInstructionSuccessResponseType"/>
			
		</xs:choice>
	</xs:complexType>
	<xs:element name="ValidatePaymentInstructionSuccessResponse" type="payrsp:ValidatePaymentInstructionSuccessResponseType"/>
	<xs:complexType name="ValidatePaymentInstructionSuccessResponseType">
		<xs:sequence>
			<xs:element name="Status" type="payrsp:ValidationStatusTypeCode">
				<xs:annotation>
					<xs:documentation>Indicates if Payment Instruction can be succefully accepted. Error, Warning, Success</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidationMessages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ValidationMessage" type="payrsp:ValidationMessageType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValidationMessageType">
		<xs:sequence>
			<xs:element name="Status" type="payrsp:ValidationMessageStatusTypeCode">
				<xs:annotation>
					<xs:documentation>MessageType: Warning or Error</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Message code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidationMessage" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of message</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-->>>>>>>>>SearchPaymentInstructions<<<<<<<<<<-->
	<xs:element name="SearchPaymentInstructionsResponseMsg" type="payrsp:SearchPaymentInstructionsResponseMsgType"/>
	<xs:complexType name="SearchPaymentInstructionsResponseMsgType">
		<xs:sequence>
			<xs:element name="Status" type="payrsp:StatusTypeCode">
				<xs:annotation>
					<xs:documentation>Indicates the overall status of the request processing with:
Success: The entire service processing was successful.
Warning: Parts of the service processing were unsuccessful.
Error: No parts of the service processing were successful.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseDetails" type="payrsp:SearchPaymentInstructionsResponseDetailsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SearchPaymentInstructionsResponseDetailsType" type="payrsp:SearchPaymentInstructionsResponseDetailsType"/>
	<xs:complexType name="SearchPaymentInstructionsResponseDetailsType">
		<xs:choice>
			<xs:element name="SuccessResponse" type="payrsp:SearchPaymentInstructionsSuccessResponseType"/>
			
		</xs:choice>
	</xs:complexType>
	<xs:element name="SearchPaymentInstructionsSuccessResponseType" type="payrsp:SearchPaymentInstructionsSuccessResponseType"/>
	<xs:complexType name="SearchPaymentInstructionsSuccessResponseType">
		<xs:sequence>
			<xs:element name="PaymentInstructions" type="payrsp:PRESPaymentInstructionsType"/>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>ValidateBPayDetails<<<<<<<<<<-->
	<xs:element name="ValidateBPayDetailsResponseMsg" type="payrsp:ValidateBPayDetailsResponseMsgType"/>
	<xs:complexType name="ValidateBPayDetailsResponseMsgType">
		<xs:sequence>
			<xs:element name="Status" type="payrsp:StatusTypeCode">
				<xs:annotation>
					<xs:documentation>Indicates the overall status of the request processing with:
Success: The entire service processing was successful.
Warning: Parts of the service processing were unsuccessful.
Error: No parts of the service processing were successful.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseDetails" type="payrsp:ValidateBPayDetailsResponseDetailsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ValidateBPayDetailsResponseDetailsType" type="payrsp:ValidateBPayDetailsResponseDetailsType"/>
	<xs:complexType name="ValidateBPayDetailsResponseDetailsType">
		<xs:choice>
			<xs:element name="SuccessResponse" type="payrsp:ValidateBPayDetailsSuccessResponseType"/>
			
		</xs:choice>
	</xs:complexType>
	<xs:element name="ValidateBPayDetailsSuccessResponseType" type="payrsp:ValidateBPayDetailsSuccessResponseType"/>
	<xs:complexType name="ValidateBPayDetailsSuccessResponseType">
		<xs:sequence>
			<xs:element name="Status" type="payrsp:ValidationStatusTypeCode">
				<xs:annotation>
					<xs:documentation>Indicates if BPay details are valid. Error, Warning, Success</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidationMessages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ValidationMessage" type="payrsp:ValidationMessageType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>UpdatePaymentInstruction<<<<<<<<<<-->
	<xs:element name="UpdatePaymentInstructionResponseMsg" type="payrsp:UpdatePaymentInstructionResponseMsgType"/>
	<xs:complexType name="UpdatePaymentInstructionResponseMsgType">
		<xs:sequence>
			<xs:element name="Status" type="payrsp:StatusTypeCode">
				<xs:annotation>
					<xs:documentation>Indicates the overall status of the request processing with:
Success: The entire service processing was successful.
Warning: Parts of the service processing were unsuccessful.
Error: No parts of the service processing were successful.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseDetails" type="payrsp:UpdatePaymentInstructionResponseDetailsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UpdatePaymentInstructionResponseDetailsType" type="payrsp:UpdatePaymentInstructionResponseDetailsType"/>
	<xs:complexType name="UpdatePaymentInstructionResponseDetailsType">
		<xs:choice>
			<xs:element name="SuccessResponse" type="payrsp:UpdatePaymentInstructionSuccessResponseType"/>
			
		</xs:choice>
	</xs:complexType>
	<xs:element name="UpdatePaymentInstructionSuccessResponse" type="payrsp:UpdatePaymentInstructionSuccessResponseType"/>
	<xs:complexType name="UpdatePaymentInstructionSuccessResponseType">
		<xs:sequence>
			<xs:element name="PaymentInstruction" type="payrsp:PRESPaymentInstructionType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-->>>>>>>>>PaymentInstructions<<<<<<<<<<-->
	<xs:complexType name="PRESPaymentInstructionsType">
		<xs:sequence>
			<xs:element name="PaymentInstruction" type="payrsp:PRESPaymentInstructionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRESPaymentInstructionType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentInstructionType">
				<xs:sequence>
					<xs:element name="PaymentID" type="xs:string">
						<xs:annotation>
							<xs:documentation>Unique Payment  Identification Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentCategory" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment category</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentSubCategory" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment subcategory</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentCreationDateTime" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>the date and time the instruction was written</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentAmount" type="dt:Decimal18P4Type">
						<xs:annotation>
							<xs:documentation>Payment Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentReferenceNumber" type="pay:PaymentReferenceNumberType">
						<xs:annotation>
							<xs:documentation>Reference number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentRemitterIdentifier" type="dt:Max20TextType">
						<xs:annotation>
							<xs:documentation>specifies who is instructing to make the transfer or payment. May be Adviser or Investor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentReceiptNumber" type="pay:PaymentReceiptNumberType" minOccurs="0"/>
					<xs:element name="PaymentDescription" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Short description of payment.  Payer's reference text</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentNarrative" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Detailed payment description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreditDebitIndicator" type="pay:CreditDebitIndicatorType">
						<xs:annotation>
							<xs:documentation>Direction of payment. Either Credit or Debit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DebtorAccount" type="payrsp:PRESPaymentAccountType">
						<xs:annotation>
							<xs:documentation>Payment source account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreditorAccount" type="payrsp:PRESPaymentAccountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment target account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentType" type="payrsp:PRESPaymentMethodType">
						<xs:annotation>
							<xs:documentation>Method of transfering fund</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentDate" type="payrsp:PRESPaymentDateType">
						<xs:annotation>
							<xs:documentation>Effective date of payment or payment schedule</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentStatus" type="pay:PaymentStatusType">
						<xs:annotation>
							<xs:documentation>Payment status: Pending, Rejected, Retrying, Received, Accepted, Uncleared, Other</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyOfTransfer" type="fx:CurrencyCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>two digit ISO complying currency code. Place holder only. Currently ignored.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-->>>>>>>>>>PaymentAccount<<<<<<<<<<-->
	<xs:complexType name="PRESPaymentAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentAccountType">
				<xs:choice>
					<xs:element name="FinancialInstitutionAccount" type="payrsp:PRESFinancialInstitutionAccountType"/>
					<xs:element name="WorkingCashAccount" type="payrsp:PRESWorkingCashAccountType"/>
					<xs:element name="InvestmentAccount" type="payrsp:PRESInvestmentAccountType"/>
					<xs:element name="CreditCardAccount" type="payrsp:PRESCreditCardAccountType"/>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESFinancialInstitutionAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:FinancialInstitutionAccountType">
				<xs:sequence>
					<xs:element name="AccountNumber" type="dt:Max10TextType">
						<xs:annotation>
							<xs:documentation>Account number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AccountName" type="dt:Max60TextType">
						<xs:annotation>
							<xs:documentation>Name of account holder</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BSB" type="dt:BSBType">
						<xs:annotation>
							<xs:documentation>Bank BSB number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESWorkingCashAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:WorkingCashAccountType">
				<xs:sequence>
					<xs:element name="AccountNumber" type="dt:Max20TextType" nillable="true"/>
					<xs:element name="FinancialAgentIdentification" type="payrsp:PRESFinancialAgentIdentificationType"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESInvestmentAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:InvestmentAccountType">
				<xs:sequence>
					<xs:element name="ProductID" type="pdt:UniqueProductIDType"/>
					<xs:element name="AccountNumber" type="dt:Max20TextType"/>
					<xs:element name="HoldingID" type="dt:Max45TextType" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESCreditCardAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:CreditCardAccountType">
				<xs:sequence>
					<xs:element name="CardIssuer" type="pay:CreditCardIssuersType"/>
					<xs:element name="CardNumber" type="pay:CreditCardNumberType"/>
					<xs:element name="ExpiryDate" type="pay:ExpiryDateType"/>
					<xs:element name="CardHolderName" type="pay:CreditCardHolderNameType"/>
					<xs:element name="VerificationCode" type="pay:CreditCardVerificationCodeType" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-->>>>>>>>>>PaymentDate<<<<<<<<<<-->
	<xs:complexType name="PRESPaymentDateType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentDateType">
				<xs:choice>
					<xs:element name="PaymentEffectiveDate" type="xs:date"/>
					<xs:element name="RecurringPaymentDate" type="payrsp:PRESRecurringPaymentDateType"/>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESRecurringPaymentDateType">
		<xs:complexContent>
			<xs:restriction base="pay:RecurringPaymentDateType">
				<xs:sequence>
					<xs:element name="PaymentStartDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>First payment date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentEndDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment end date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NextPaymentDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>Next scheduled payment date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LastPaymentDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Last date payment was made</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentFrequency" type="xs:duration">
						<xs:annotation>
							<xs:documentation>Payment Frequency expressed in date duration format</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumberOfPayments" type="xs:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total number of payments between start and end date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-->>>>>>>>>>PaymentMethod<<<<<<<<<<-->
	<xs:complexType name="PRESPaymentMethodType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentMethodType">
				<xs:choice>
					<xs:element name="DirectCredit" type="pay:CreditTransferMethodType"/>
					<xs:element name="DirectDebit" type="pay:CreditTransferMethodType"/>
					<xs:element name="Cheque" type="payrsp:PRESChequeMethodType"/>
					<xs:element name="BPay" type="payrsp:PRESBPayMethodType"/>
					<!-- From GESB2 -->
					<!-- Credit Transfer Attributes required to be defined in new type -->
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESChequeMethodType">
		<xs:complexContent>
			<xs:restriction base="pay:ChequeMethodType">
				<xs:sequence>
					<xs:element name="PayingInstitution" type="payrsp:PRESFinancialAgentIdentificationType"/>
					<xs:element name="ChequeNumber" type="dt:Max20TextType"/>
					<xs:element name="Narrative" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESFinancialAgentIdentificationType">
		<xs:complexContent>
			<xs:restriction base="pay:FinancialAgentIdentificationType">
				<xs:sequence>
					<xs:element name="NameOfInstitution" type="dt:Max120TextType"/>
					<xs:element name="Branch" type="dt:Max60TextType"/>
					<xs:element name="BSB" type="dt:BSBType"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESBPayMethodType">
		<xs:complexContent>
			<xs:restriction base="pay:BPayMethodType">
				<xs:sequence>
					<xs:element name="Code" type="xs:string">
						<xs:annotation>
							<xs:documentation>BPay Biller Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BPay Biller Name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CRN" type="xs:string">
						<xs:annotation>
							<xs:documentation>Client reference number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-->>>>>>>>>Simple Types<<<<<<<<<<-->
	<xs:simpleType name="StatusTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success"/>
			<xs:enumeration value="Warning"/>
			<xs:enumeration value="Error"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ValidationStatusTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success"/>
			<xs:enumeration value="Warning"/>
			<xs:enumeration value="Error"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ValidationMessageStatusTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Warning"/>
			<xs:enumeration value="Error"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
