nextgenx/BTESBServices/BTFin/SharedServices/Common/Payment/PaymentService/V1/PaymentRequestV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by . (BT Financial Group) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:payreq="ns://btfin.com/SharedServices/Common/Payment/PaymentService/PaymentRequest/V1_0" xmlns:pay="ns://btfin.com/SharedServices/Common/Payment/V2_0" xmlns:dt="ns://btfin.com/SharedServices/Common/BaseDataTypes/V1_1" xmlns:fx="ns://btfin.com/SharedServices/Common/ForeignExchange/V1_0" xmlns:pdt="ns://btfin.com/SharedServices/Common/ProductDataTypes/V1_1" targetNamespace="ns://btfin.com/SharedServices/Common/Payment/PaymentService/PaymentRequest/V1_0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1_0">
	<xs:import namespace="ns://btfin.com/SharedServices/Common/Payment/V2_0" schemaLocation="../../V2/PaymentV2_0.xsd"/>
	<xs:import namespace="ns://btfin.com/SharedServices/Common/ProductDataTypes/V1_1" schemaLocation="../../../ProductDataTypes/V1/ProductDataTypesV1_1.xsd"/>
	<xs:import namespace="ns://btfin.com/SharedServices/Common/BaseDataTypes/V1_1" schemaLocation="../../../BaseDataTypes/V1/BaseDataTypesV1_1.xsd"/>
	<xs:import namespace="ns://btfin.com/SharedServices/Common/ForeignExchange/V1_0" schemaLocation="../../../ForeignExchange/V1/ForeignExchangeV1_0.xsd"/>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-->>>>>>>>>>CreatePaymentInstruction<<<<<<<<<<-->
	<xs:element name="CreatePaymentInstructionRequestMsg" type="payreq:CreatePaymentInstructionRequestMsgType"/>
	<xs:complexType name="CreatePaymentInstructionRequestMsgType">
		<xs:sequence>
			<xs:element name="PaymentInstruction" type="payreq:PREQPaymentInstructionType">
				<xs:annotation>
					<xs:documentation>Payment Instruction Type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>>ValidatePaymentInstruction<<<<<<<<<<-->
	<xs:element name="ValidatePaymentInstructionRequestMsg" type="payreq:ValidatePaymentInstructionRequestMsgType"/>
	<xs:complexType name="ValidatePaymentInstructionRequestMsgType">
		<xs:sequence>
			<xs:element name="PaymentInstruction" type="payreq:PREQPaymentInstructionType">
				<xs:annotation>
					<xs:documentation>Payment Instruction Type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>>UpdatePaymentInstruction<<<<<<<<<<-->
	<xs:element name="UpdatePaymentInstructionRequestMsg" type="payreq:UpdatePaymentInstructionRequestMsgType"/>
	<xs:complexType name="UpdatePaymentInstructionRequestMsgType">
		<xs:sequence>
			<xs:element name="PaymentInstruction" type="payreq:PREQUpdatePaymentInstructionType">
				<xs:annotation>
					<xs:documentation>Payment Instruction Type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>>SearchPaymentInstructions<<<<<<<<<<-->
	<xs:element name="SearchPaymentInstructionsRequestMsg" type="payreq:SearchPaymentInstructionsRequestMsgType"/>
	<xs:complexType name="SearchPaymentInstructionsRequestMsgType">
		<xs:sequence>
			<xs:element name="PaymentInstructionSystem" type="payreq:PREQPaymentInstructionSystemType">
				<xs:annotation>
					<xs:documentation>Investment Identification Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Account" type="payreq:PREQPaymentAccountType">
				<xs:annotation>
					<xs:documentation>The Account to search for transactions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Period" type="payreq:PREQSearchPeriodType">
				<xs:annotation>
					<xs:documentation>Date Period to return transaction Details for. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditDebitIndicator" type="pay:CreditDebitIndicatorType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PREQSearchPeriodType">
		<xs:sequence>
			<xs:element name="FromDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>From Date for period which the transaction data is required.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>To Date for period which the transaction data is required.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>>ValidateBPayDetails<<<<<<<<<<-->
	<xs:element name="ValidateBPayDetailsRequestMsg" type="payreq:ValidateBPayDetailsRequestMsgType"/>
	<xs:complexType name="ValidateBPayDetailsRequestMsgType">
		<xs:sequence>
			<xs:element name="BPayDetails" type="payreq:PREQBPayDetails">
				<xs:annotation>
					<xs:documentation>BPay details</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<xs:complexType name="PREQPaymentInstructionType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentInstructionType">
				<xs:sequence>
					<xs:element name="PaymentInstructionSystem" type="payreq:PREQPaymentInstructionSystemType"/>
					<xs:element name="PaymentCategory" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment category</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentSubCategory" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment subcategory</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentCreationDateTime" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>the date and time the instruction was written</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentAmount" type="dt:Decimal18P4Type">
						<xs:annotation>
							<xs:documentation>Payment Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentReferenceNumber" type="pay:PaymentReferenceNumberType">
						<xs:annotation>
							<xs:documentation>Reference number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentRemitterIdentifier" type="dt:Max20TextType">
						<xs:annotation>
							<xs:documentation>specifies who is instructing to make the transfer or payment. May be Adviser or Investor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentDescription" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Short description of payment.  Payer's reference text</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentNarrative" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Detailed payment description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreditDebitIndicator" type="pay:CreditDebitIndicatorType">
						<xs:annotation>
							<xs:documentation>Direction of payment. Either Credit or Debit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DebtorAccount" type="payreq:PREQPaymentAccountType">
						<xs:annotation>
							<xs:documentation>Payment source account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreditorAccount" type="payreq:PREQPaymentAccountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment target account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentType" type="payreq:PREQPaymentMethodType">
						<xs:annotation>
							<xs:documentation>Method of transfering fund</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentDate" type="payreq:PREQPaymentDateType">
						<xs:annotation>
							<xs:documentation>Effective date of payment or payment schedule</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AlertStatuses" type="pay:AlertStatusesType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Flag to indicate if Investor wishes to be alerted when PaymentInstruction executed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyOfTransfer" type="fx:CurrencyCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>two digit ISO complying currency code. Place holder only. Currently ignored.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PREQPaymentInstructionSystemType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentInstructionSystemType">
				<xs:sequence>
					<xs:element name="ProductCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>Investment Identification Code. Product pertains to this payment</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProductCodeIssuer" type="xs:string">
						<xs:annotation>
							<xs:documentation>Investment identification code issuer. eg. WRAP, NEXTGEN, ASX </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-->>>>>>>>>>PaymentAccount<<<<<<<<<<-->
	<xs:complexType name="PREQPaymentAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentAccountType">
				<xs:choice>
					<xs:element name="FinancialInstitutionAccount" type="payreq:PREQFinancialInstitutionAccountType"/>
					<xs:element name="WorkingCashAccount" type="payreq:PREQWorkingCashAccountType"/>
					<xs:element name="InvestmentAccount" type="payreq:PREQInvestmentAccountType"/>
					<xs:element name="CreditCardAccount" type="payreq:PREQCreditCardAccountType"/>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PREQFinancialInstitutionAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:FinancialInstitutionAccountType">
				<xs:sequence>
					<xs:element name="AccountNumber" type="dt:Max10TextType">
						<xs:annotation>
							<xs:documentation>Account number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AccountName" type="dt:Max60TextType">
						<xs:annotation>
							<xs:documentation>Name of account holder</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BSB" type="dt:BSBType">
						<xs:annotation>
							<xs:documentation>Bank BSB number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PREQWorkingCashAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:WorkingCashAccountType">
				<xs:sequence>
					<xs:element name="AccountNumber" type="dt:Max20TextType" nillable="true"/>
					<xs:element name="FinancialAgentIdentification" type="payreq:PREQFinancialAgentIdentificationType"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PREQInvestmentAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:InvestmentAccountType">
				<xs:sequence>
					<xs:element name="ProductID" type="pdt:UniqueProductIDType"/>
					<xs:element name="AccountNumber" type="dt:Max20TextType"/>
					<xs:element name="HoldingID" type="dt:Max45TextType" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PREQCreditCardAccountType">
		<xs:complexContent>
			<xs:restriction base="pay:CreditCardAccountType">
				<xs:sequence>
					<xs:element name="CardIssuer" type="pay:CreditCardIssuersType"/>
					<xs:element name="CardNumber" type="pay:CreditCardNumberType"/>
					<xs:element name="ExpiryDate" type="pay:ExpiryDateType"/>
					<xs:element name="CardHolderName" type="pay:CreditCardHolderNameType"/>
					<xs:element name="VerificationCode" type="pay:CreditCardVerificationCodeType" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-->>>>>>>>>>PaymentDate<<<<<<<<<<-->
	<xs:complexType name="PREQPaymentDateType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentDateType">
				<xs:choice>
					<xs:element name="PaymentEffectiveDate" type="xs:date"/>
					<xs:element name="RecurringPaymentDate" type="payreq:PREQRecurringPaymentDateType"/>
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PREQRecurringPaymentDateType">
		<xs:complexContent>
			<xs:restriction base="pay:RecurringPaymentDateType">
				<xs:sequence>
					<xs:element name="PaymentStartDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>First payment date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentEndDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment end date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NextPaymentDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Next scheduled payment date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LastPaymentDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Last date payment was made</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentFrequency" type="xs:duration">
						<xs:annotation>
							<xs:documentation>Payment Frequency expressed in date duration format</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumberOfPayments" type="xs:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total number of payments between start and end date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-->>>>>>>>>>PaymentMethod<<<<<<<<<<-->
	<xs:complexType name="PREQPaymentMethodType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentMethodType">
				<xs:choice>
					<xs:element name="DirectCredit" type="pay:CreditTransferMethodType"/>
					<xs:element name="DirectDebit" type="pay:CreditTransferMethodType"/>
					<xs:element name="Cheque" type="payreq:PREQChequeMethodType"/>
					<xs:element name="BPay" type="payreq:PREQBPayMethodType"/>
					<!-- From GESB2 -->
					<!-- Credit Transfer Attributes required to be defined in new type -->
				</xs:choice>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PREQChequeMethodType">
		<xs:complexContent>
			<xs:restriction base="pay:ChequeMethodType">
				<xs:sequence>
					<xs:element name="PayingInstitution" type="payreq:PREQFinancialAgentIdentificationType"/>
					<xs:element name="ChequeNumber" type="dt:Max20TextType"/>
					<xs:element name="Narrative" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PREQFinancialAgentIdentificationType">
		<xs:complexContent>
			<xs:restriction base="pay:FinancialAgentIdentificationType">
				<xs:sequence>
					<xs:element name="NameOfInstitution" type="dt:Max120TextType"/>
					<xs:element name="Branch" type="dt:Max60TextType"/>
					<xs:element name="BSB" type="dt:BSBType"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PREQBPayMethodType">
		<xs:complexContent>
			<xs:restriction base="pay:BPayMethodType">
				<xs:sequence>
					<xs:element name="Code" type="xs:string">
						<xs:annotation>
							<xs:documentation>BPay Biller Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>BPay Biller Name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CRN" type="xs:string">
						<xs:annotation>
							<xs:documentation>Client reference number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-->>>>>>>>>>BPayMethodType<<<<<<<<<<-->
	<xs:complexType name="PREQBPayDetails">
		<xs:complexContent>
			<xs:restriction base="pay:BPayMethodType">
				<xs:sequence>
					<xs:element name="Code" type="xs:string">
						<xs:annotation>
							<xs:documentation>BPay Biller Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CRN" type="xs:string">
						<xs:annotation>
							<xs:documentation>Client reference number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-->>>>>>>>>>UpdatePaymentInstructionType<<<<<<<<<<-->
	<xs:complexType name="PREQUpdatePaymentInstructionType">
		<xs:complexContent>
			<xs:restriction base="pay:PaymentInstructionType">
				<xs:sequence>
					<xs:element name="PaymentID" type="xs:string">
						<xs:annotation>
							<xs:documentation>Unique Payment  Identification Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentInstructionSystem" type="payreq:PREQPaymentInstructionSystemType"/>
					<xs:element name="PaymentCategory" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment category</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentSubCategory" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Payment subcategory</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentDescription" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Short description of payment.  Payer's reference text</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentNarrative" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Detailed payment description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentDate" type="payreq:PREQPaymentDateType">
						<xs:annotation>
							<xs:documentation>Effective date of payment or payment schedule</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AlertStatuses" type="pay:AlertStatusesType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Flag to indicate if Investor wishes to be alerted when PaymentInstruction executed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyOfTransfer" type="fx:CurrencyCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>two digit ISO complying currency code. Place holder only. Currently ignored.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
