nextgenx/src/main/resources/com/bt/nextgen/integration/xsd/cash/crn-validation-request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ns://btfin.com/nextgen/services/schemas">
    <xs:element name="CrnValidationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="CustomerReference"/>
        <xs:element type="xs:string" name="CheckDigitRoutine"/>
        <xs:element type="xs:string" name="FixedDigitsMask"/>
        <xs:element type="xs:string" name="ValidLengths"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>