nextgenx/src/main/resources/com/bt/nextgen/integration/xsd/cash/payanyone-payment-request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ns://btfin.com/nextgen/services/schemas">
    <xs:element name="PayAnyonePaymentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Bsb"/>
        <xs:element type="xs:string" name="ToAccountNumber"/>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:string" name="Amount"/>
        <xs:element type="xs:string" name="PaymentDate"/>
        <xs:element type="xs:string" name="Description"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>