nextgenx/BTESBServices/BTFin/SharedServices/Common/Payment/V2/PaymentV2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by . (BT Financial Group) -->
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Anonymous (private) -->
<xs:schema xmlns:pdt="ns://btfin.com/SharedServices/Common/ProductDataTypes/V1_1" xmlns:dt="ns://btfin.com/SharedServices/Common/BaseDataTypes/V1_1" xmlns="ns://btfin.com/SharedServices/Common/Payment/V2_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fx="ns://btfin.com/SharedServices/Common/ForeignExchange/V1_0" targetNamespace="ns://btfin.com/SharedServices/Common/Payment/V2_0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2_0">
	<xs:import namespace="ns://btfin.com/SharedServices/Common/BaseDataTypes/V1_1" schemaLocation="../../BaseDataTypes/V1/BaseDataTypesV1_1.xsd"/>
	<xs:import namespace="ns://btfin.com/SharedServices/Common/ProductDataTypes/V1_1" schemaLocation="../../ProductDataTypes/V1/ProductDataTypesV1_1.xsd"/>
	<xs:import namespace="ns://btfin.com/SharedServices/Common/ForeignExchange/V1_0" schemaLocation="../../ForeignExchange/V1/ForeignExchangeV1_0.xsd"/>
	<!-->>>>>>>>>> Payment Instruction <<<<<<<<<<-->
	<xs:complexType name="PaymentInstructionType">
		<xs:annotation>
			<xs:documentation>Instruction to move funds from the debtor account to a
creditor account</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique Payment  Identification Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentInstructionSystem" type="PaymentInstructionSystemType" minOccurs="0"/>
			<xs:element name="PaymentCategory" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment category</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentSubCategory" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment subcategory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentCreationDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the date and time the instruction was written</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentAmount" type="dt:Decimal18P4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentReferenceNumber" type="PaymentReferenceNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentRemitterIdentifier" type="dt:Max20TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>specifies who is instructing to make the transfer or payment. May be Adviser or Investor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentReceiptNumber" type="PaymentReceiptNumberType" minOccurs="0"/>
			<xs:element name="PaymentDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Short description of payment.  Payer's reference text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentNarrative" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Detailed payment description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditDebitIndicator" type="CreditDebitIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Direction of payment. Either Credit or Debit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtorAccount" type="PaymentAccountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment source account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditorAccount" type="PaymentAccountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment target account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentType" type="PaymentMethodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method of transfering fund</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentDate" type="PaymentDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Effective date of payment or payment </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentStatus" type="PaymentStatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment status: Pending, Rejected, Retrying, Received, Accepted, Uncleared, Other</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertStatuses" type="AlertStatusesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flag to indicate if Investor wishes to be alerted when PaymentInstruction is of a certain status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyOfTransfer" type="fx:CurrencyCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>two digit ISO complying currency code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstructionSystemType">
		<xs:sequence>
			<xs:element name="ProductCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Investment Identification Code. Product pertains to this payment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductCodeIssuer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Investment identification code issuer. eg. WRAP, NEXTGEN, ASX </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>> Payment Account <<<<<<<<<<-->
	<xs:complexType name="PaymentAccountType">
		<xs:choice>
			<xs:element name="FinancialInstitutionAccount" type="FinancialInstitutionAccountType" minOccurs="0"/>
			<xs:element name="WorkingCashAccount" type="WorkingCashAccountType" minOccurs="0"/>
			<xs:element name="InvestmentAccount" type="InvestmentAccountType" minOccurs="0"/>
			<xs:element name="CreditCardAccount" type="CreditCardAccountType" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionAccountType">
		<xs:sequence>
			<xs:element name="AccountNumber" type="dt:Max10TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Account number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountName" type="dt:Max60TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of account holder</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BSB" type="dt:BSBType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bank BSB number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Narrative" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free text narrative</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkingCashAccountType">
		<xs:sequence>
			<xs:element name="AccountNumber" type="dt:Max20TextType" nillable="true" minOccurs="0"/>
			<xs:element name="FinancialAgentIdentification" type="FinancialAgentIdentificationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvestmentAccountType">
		<xs:sequence>
			<xs:element name="ProductID" type="pdt:UniqueProductIDType" minOccurs="0"/>
			<xs:element name="AccountNumber" type="dt:Max20TextType" minOccurs="0"/>
			<xs:element name="HoldingID" type="dt:Max45TextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditCardAccountType">
		<xs:sequence>
			<xs:element name="CardIssuer" type="CreditCardIssuersType" minOccurs="0"/>
			<xs:element name="CardNumber" type="CreditCardNumberType" minOccurs="0"/>
			<xs:element name="ExpiryDate" type="ExpiryDateType" minOccurs="0"/>
			<xs:element name="CardHolderName" type="CreditCardHolderNameType" minOccurs="0"/>
			<xs:element name="VerificationCode" type="CreditCardVerificationCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>> Payment Method <<<<<<<<<<-->
	<xs:complexType name="PaymentMethodType">
		<xs:choice>
			<xs:element name="DirectCredit" type="CreditTransferMethodType" minOccurs="0"/>
			<xs:element name="DirectDebit" type="CreditTransferMethodType" minOccurs="0"/>
			<xs:element name="Cheque" type="ChequeMethodType" minOccurs="0"/>
			<xs:element name="BPay" type="BPayMethodType" minOccurs="0"/>
			<!-- From GESB2 -->
			<!-- Credit Transfer Attributes required to be defined in new type -->
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CreditTransferMethodType">
		<xs:sequence>
			<xs:element name="Narrative" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChequeMethodType">
		<xs:sequence>
			<xs:element name="PayingInstitution" type="FinancialAgentIdentificationType" minOccurs="0"/>
			<xs:element name="ChequeNumber" type="dt:Max20TextType" minOccurs="0"/>
			<xs:element name="Narrative" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BPayMethodType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BPay Biller Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BPay Biller Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CRN" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Client reference number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Narrative" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free text narrative</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExpiryDateType">
		<xs:sequence>
			<xs:element name="ExpiryMonth">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpiryYear">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="2099"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialAgentIdentificationType">
		<xs:sequence>
			<xs:element name="NameOfInstitution" type="dt:Max120TextType" minOccurs="0"/>
			<xs:element name="Branch" type="dt:Max60TextType" minOccurs="0"/>
			<xs:element name="BSB" type="dt:BSBType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>> Payment Date <<<<<<<<<<-->
	<xs:complexType name="RecurringPaymentDateType">
		<xs:sequence>
			<xs:element name="PaymentStartDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>First payment date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentEndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment end date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NextPaymentDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Next scheduled payment date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastPaymentDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Last date payment was made</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentFrequency" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payment Frequency expressed in date duration format</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfPayments" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of payments between start and end date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDateType">
		<xs:choice>
			<xs:element name="PaymentEffectiveDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecurringPaymentDate" type="RecurringPaymentDateType" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AlertStatusesType">
		<xs:sequence>
			<xs:element name="AlertStatus" type="AlertStatusType" minOccurs="0" maxOccurs="9"/>
		</xs:sequence>
	</xs:complexType>
	<!-->>>>>>>>>> Simple Types <<<<<<<<<<-->
	<xs:simpleType name="PaymentStatusType">
		<xs:restriction base="AlertStatusType">
			<xs:enumeration value="Pending"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Retrying"/>
			<xs:enumeration value="Received"/>
			<xs:enumeration value="Accepted"/>
			<xs:enumeration value="Uncleared"/>
			<xs:enumeration value="Cleared"/>
			<xs:enumeration value="Scheduled"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlertStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pending"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Retrying"/>
			<xs:enumeration value="Received"/>
			<xs:enumeration value="Accepted"/>
			<xs:enumeration value="Uncleared"/>
			<xs:enumeration value="Cleared"/>
			<xs:enumeration value="Scheduled"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="All"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditCardNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditCardHolderNameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditCardIssuersType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AmericanExpress"/>
			<xs:enumeration value="DinersClub"/>
			<xs:enumeration value="Mastercard"/>
			<xs:enumeration value="Visa"/>
			<xs:enumeration value="Bankcard"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditCardVerificationCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentReceiptNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentReferenceNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitIndicatorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Credit"/>
			<xs:enumeration value="Debit"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
